{
  "env": {
    "browser": true,
    "amd": true
  },
  "extends": [
    "@standardnotes/eslint-config-extensions",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  }
}
