@import "~stylekit";

body,
html {
  font-family: var(--sn-stylekit-sans-serif-font);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--sn-stylekit-base-font-size);
  background-color: transparent;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sn-component {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .sk-panel-content {
    height: inherit !important;
  }
}

#header {
  border-bottom: 1px solid var(--sn-stylekit-border-color);
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);

  min-height: 26px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#content {
  background-color: var(--sn-stylekit-contrast-background-color);
  flex: 1;
  padding: 0 10px;
}

.auth-dialog {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.auth-overlay {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.auth-list {
  display: flex;
  flex-direction: column;
}

.auth-edit {
  margin: 10 0;
}

.sk-notification {
  min-width: 360px;
  // Hacking sk-notification style
  overflow: visible !important; // We need this for the dropdown menu
  margin: 10 0 0 0 !important;
  padding: 28 14 28 28 !important;
}

/* Notes responsive behaviour */
.auth-notes-row {
  margin-top: 20px;
}

.auth-notes-inline {
  flex: 1;
  display: none;
  margin: 0 32px;
}

.auth-notes {
  font-size: var(--sn-stylekit-base-font-size);
  font-style: italic;
  overflow: hidden;
}

@media (min-width: 576px) {
  .auth-notes-row {
    display: none !important;
  }

  .auth-notes-inline {
    display: flex;
  }

  .auth-info {
    flex-grow: 0 !important;
  }
}

/* entry default styles */
.auth-entry {
  display: flex;
  align-items: center;

  .auth-info {
    flex: 1 1 auto;

    .auth-service {
      font-size: var(--sn-stylekit-font-size-h1);
      font-weight: bold;
      line-height: 1.9rem;
    }

    .auth-account {
      line-height: 1.5rem;
      font-size: var(--sn-stylekit-font-size-p);
      text-align: left;
      font-weight: normal;
    }
  }

  .auth-token-info {
    display: flex;
    align-items: center;
    padding-right: 12px;

    .auth-token {
      font-size: 2rem;
      align-self: center;
      font-weight: bold;
      color: var(--sn-stylekit-info-color);
      display: flex;
      justify-content: space-between;
      width: 8.2rem;
      cursor: pointer;
    }

    .auth-countdown {
      padding: 0 12px;

      // Countdown animation
      #countdown {
        transform: rotateY(-180deg) rotateZ(-90deg);
        height: 1.8rem;
        width: 1.8rem;
        align-self: center;

        circle {
          stroke-dasharray: 113px;
          stroke-dashoffset: 0px;
          stroke-width: 4px;
          stroke: var(--sn-stylekit-success-color);
          fill: none;
          animation: countdown 10s linear infinite forwards;
        }
      }
    }
  }


  .auth-options {
    color: var(--sn-stylekit-contrast-foreground-color);
    overflow: visible;

    .sk-menu-panel {
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }
}
